<ion-view view-title="Select Agency" can-swipe-back="false">
  
  <!-- <ion-header-bar align-title="left" class="bar-royal bar bar-subheader doubleHeaderSelector" ng-if="referer == 'selectionSearch' && agencies.length > 0" >
    
  <p class="selectedServicesAboveAgencyList">
      <span ng-if="namesOfServicesUserHasSelected.length > 0">Viewing </span> 
        <span ng-repeat="name in namesOfServicesUserHasSelected | limitTo:3">{{name}}<span ng-if="$index < 2 && namesOfServicesUserHasSelected.length > 1">, </span></span>
      <span ng-if="namesOfServicesUserHasSelected.length > 3">and {{namesOfServicesUserHasSelected.length - 3}} more</span>
    </p>
  
</ion-header-bar> -->

  <!-- <ion-header-bar class="bar-royal bar bar-subheader doubleHeaderSelector" ng-if="referer == 'selectionSearch' && agencies.length > 0" >
    
  <div class="buttons text-right" >
    
    <button class="button bar-button" ng-click="showFilterModal()">Filter</button>
  </div>
  
</ion-header-bar> -->





<!-- ng-class="{'has-subheader' : referer == 'selectionSearch'}" -->
  <!-- position-bars-and-content //custom directive for handling multiple subheaders-->
  <!-- <ion-content ng-class="{'has-subheader' : referer == 'selectionSearch'}"> -->
  <ion-content>
  <!-- <ion-content position-bars-and-content> -->
  
    <!-- display search results if results are found -->
    <ion-list ng-if="agencies.length > 0">
    
    <!-- Display services user has selected above agency listings-->
    <!-- <p class="selectedServicesAboveAgencyList">
      <span ng-if="namesOfServicesUserHasSelected.length > 0">Viewing </span> 
        <span ng-repeat="name in namesOfServicesUserHasSelected | limitTo:3">{{name}}<span ng-if="$index < 2 && namesOfServicesUserHasSelected.length > 1">, </span></span>
      <span ng-if="namesOfServicesUserHasSelected.length > 3">and {{namesOfServicesUserHasSelected.length - 3}} more</span>
    </p> -->
    
      
    <a ng-href="#/agencyDetail/{{agency.id}}"  ng-click="reportAgencyClicked(agency.name, agency.id, agency.distance)" class="item-icon-right agencyListIcon agencyInList" ng-repeat="agency in agencies" ng-hide="filterAgencies(agency.array_of_category_ids_for_location)">
    
    <div class="card agencyListCard" >
    <ion-item class="item-text-wrap agencyListIonItem">
          <h2 class="agencyNameInList">{{agency.name}}</h2>
          <p class="distanceDescription">{{agency.distance | prettyDistance}} away</p>
          <button class="button serviceCategoryIconInAgencyList" ng-repeat="id in agency.array_of_parent_category_ids_for_location | limitTo:3">
                        <i class="icon {{getIcon(id)}}"></i>
                    </button>
          <p ng-if="agency.array_of_parent_category_ids_for_location.length > 3">More services avaialable. Tap for full list.</p>

          <!-- <div class="agencyListCategoryIconWrapper" >
                    <button class="button serviceCategoryIconInAgencyList" ng-repeat="id in agency.array_of_parent_category_ids_for_location">
                        <i class="icon {{getIcon(id)}}"></i>
                    </button>
                    
                </div> -->
         
          
          <i class="icon ion-chevron-right"></i>
  </ion-item>
    </div>
    </a>
  
    </ion-list>

    <!-- Display message telling user that agencies are available, but none that match the exact filtering they have selected. Instruct them to adjust filtering to show more agencies -->
    <!-- display message if no search results are found -->
    <div class="card" ng-if="agencies.length > 0 && arrayOfServiceIdsUserHasSelected.length == 0">
      <h1 class="errorHeader">No results</h1>
      <p class="errorText">There are agencies available, but none that match your exact filtering.</p>
      <button class="button button-royal button-full footerButton" ng-click="showFilterModal()">Update Filtering</button>
    </div>

    <div class="card" ng-if="agencies.length == 0">
      <h1 class="errorHeader">No results found</h1>
      <p class="errorText">Please go back and try again.</p>
    </div>
    
  </ion-content>

</ion-view>
