
<ion-view>
<ion-content>
    
    <h1>{{agency.name}}</h1>
    <p>{{agency.description}}</p>
    <h6>Eligibility: {{agency.services[0].eligibility}}</h6>
    <h2>{{agency.phones[0].number}}</h2>

    <h3>Services</h3>
    <ul>
    	<li ng-repeat="service in agency.services">{{service.name}}</li>
    </ul>

    <div id="map_canvas">
	    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
	        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
	        </ui-gmap-marker>
	    </ui-gmap-google-map>
	</div>
                             
</ion-content>


</ion-view>