<ion-view view-title="Select Agency" can-swipe-back="false">
  <ion-content>
    <ion-list>
    
      
    
    <a ng-href="#/agencyDetail/{{agency.id}}"  ng-click="reportAgencyClicked(agency.name, agency.id, agency.distance)" class="item-icon-right agencyListIcon agencyInList" ng-repeat="agency in agencies">
    <div class="card agencyListCard" >
    <ion-item class="item-text-wrap">
          <h2 class="agencyNameInList">{{agency.name}}</h2>
          <p>{{agency.distance | prettyDistance}} away</p>
          <i class="icon ion-chevron-right"></i>
  </ion-item>
    </div>
    </a>
  
      
    
      

    </ion-list>

  </ion-content>

</ion-view>
