<ion-view view-title="Select Agency" can-swipe-back="false">
  <ion-header-bar align-title="left" class="bar-royal bar bar-subheader">
    
  <div class="buttons text-right">
    <button class="button" ng-click="showFilterModal()">Filter</button>
  </div>
</ion-header-bar>
  <ion-content>
    <!-- display search results if results are found -->
    <ion-list ng-if="agencies.length > 0">
      
    <a ng-href="#/agencyDetail/{{agency.id}}"  ng-click="reportAgencyClicked(agency.name, agency.id, agency.distance)" class="item-icon-right agencyListIcon agencyInList" ng-repeat="agency in agencies">
    <div class="card agencyListCard" >
    <ion-item class="item-text-wrap">
          <h2 class="agencyNameInList">{{agency.name}}</h2>
          <p>{{agency.distance | prettyDistance}} away</p>
          <i class="icon ion-chevron-right"></i>
  </ion-item>
    </div>
    </a>
  
    </ion-list>

    <!-- display message if no search results are found -->
    <div class="card" ng-if="agencies.length == 0">
      <h1 class="errorHeader">No results found</h1>
      <p class="errorText">Please go back and try again.</p>
    </div>

  </ion-content>

</ion-view>
