<!-- <ion-header-bar class="bar-positive">
  <h1 class="title">HelpSteps</h1>
</ion-header-bar> -->
<ion-view>
<ion-content>

    <!-- Search Bar -->
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>

    <!-- Categories/Cards -->
    <div class="row categoryIcons">
      <service-category-icon category="{{category.name}}" category-id="{{category.id}}" ng-repeat="category in categories"></service-category-icon>             
    </div>
                             
</ion-content>
<ion-footer-bar align-title="center" class="bar-royal" ng-click="selectServices()">
  
  <h1 class="title">SEARCH</h1>
  
</ion-footer-bar>
</ion-view>