<ion-modal-view>
	<ion-header-bar class="bar-royal">		
		<button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
		<h1 class="title">Filter Agencies</h1>
		<button class="button bar-button" ng-click="closeModal()">Apply</button>
	</ion-header-bar>
	<ion-content>
	<ion-list>
    <div class="card">
      <ion-item ng-repeat="(key, categoryObject) in userSearchSelections" class="item-text-wrap">

      <div class="row headerAndIconInList">
        <h2 class="col-80 serviceCategoryName ">{{categoryObject.
      categoryName}} </h2>
        <i class="icon {{getIcon(key)}} serviceCategoryIconInList col-20"></i>
      </div>
        
        <ion-checkbox ng-repeat="(key,value) in categoryObject.services" ng-model="filteredUserSearchSelectionsObject[key]['active']" class="item-text-wrap">{{value}}</ion-checkbox>      
      </ion-item>
      </div>
    </ion-list>
	</ion-content>
</ion-modal-view>