<ion-header-bar class="bar-positive">
  <h1 class="title">HelpSteps</h1>
</ion-header-bar>

<!-- I know bad inline view, just temporary, will change after I figure out Ionic routes -->
<ion-content>

    <!-- Title bar -->
    <div class="bar bar-header bar-positive">
      <h1 class="title">HelpSteps</h1>
    </div>

    <!-- Search Bar -->
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

    <!-- Categories/Cards -->
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Housing
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-pizza"></i>
        Food
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-heart"></i>
        Health
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-plus-outline"></i>
        More
      </a>
    </div>
</ion-content>
