<!-- <ion-header-bar class="bar-positive">
  <h1 class="title">HelpSteps</h1>
</ion-header-bar> -->
<ion-view view-title="Select Services">
<ion-content>
    
    <!-- Categories/Cards -->
    <ion-list>
      <ion-item ng-repeat="category in filteredCategories">{{category.name}}
        <ion-checkbox ng-repeat="service in category.services" ng-true-value="true" ng-model="selected[service.id]" ng-click="reportToggle(category.name,service.name,selected[service.id])">{{service.name}}</ion-checkbox>
      </ion-item>
    </ion-list>
                             
</ion-content>
<ion-footer-bar align-title="center" class="bar-royal" ng-click="getAgencies()">
  
  <h1 class="title">SEARCH</h1>
  
</ion-footer-bar>

</ion-view>