<ion-modal-view>
	<ion-header-bar class="bar-royal">
		
		<button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
		<h1 class="title">Save</h1>
	</ion-header-bar>
	<ion-content>
	<h1>{{agency.name}}</h1>
	<div>
		<label class="item item-input">
  <span class="input-label">Phone Number</span>
  <input type="text">
</label>
		<button class="button icon-left ion-chatbox-working button-positive" ng-click="shareThroughText()">Send as text message</button>
	</div>
	<div>
	<label class="item item-input">
  <span class="input-label">Email</span>
  <input type="text">
</label>
		<button class="button icon-left ion-email button-positive" ng-click="shareThroughEmail()">Email</button>
	</div>
	
	<!-- <div>
		<button class="button icon-left ion-star button-positive">Add to Favorites</button>
	</div>	 -->

	</ion-content>
</ion-modal-view>