<ion-modal-view>
	<ion-header-bar class="bar-royal">
		
		<button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
		<h1 class="title">Save</h1>
	</ion-header-bar>
	<ion-content>
	<div class="card">
	<div class="item item-body">
	<h1>{{agency.name}}</h1>
	
		<label class="item item-input">
  <span class="input-label">Enter Phone Number</span>
  <input type="tel" ng-model="userInfoForExporting.phoneNumber">
</label>
		<button class="button icon-left button-block ion-chatbox-working button-royal" ng-click="shareThroughText(agency.id, userInfoForExporting.phoneNumber)">Send as text message</button>

		<label class="item item-input">
		  <span class="input-label">Email</span>
		  <input type="email" ng-model="userInfoForExporting.email">
		</label>

		<button class="button icon-left button-block ion-email button-royal" ng-click="shareThroughEmail(agency, userInfoForExporting.email)">Email</button>
	
		<!-- <button class="button icon-left ion-star button-positive">Add to Favorites</button> -->
	
	</div>
</div>
	</ion-content>
</ion-modal-view>